@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

i{
    margin:0;
    padding:0.5rem 2.5rem;
}

i.fa-check, i.fa-trash{
    width:100%;
    height:100%;
}

body{
    margin:auto;
    font-family: 'Roboto Condensed', sans-serif; 
    background:#f4f4f4;
    color:#333;
}

.container{
    max-width: 60%;
    margin:auto;
}

#main-header{ 
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items:center;
    padding:1rem;
    text-align:center;
}

#title{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:2rem;
    color:#333;
}

#filter-input{ 
    width:50%;
    margin:2rem auto;
    padding:0.5rem;
    border:none;
    border:solid 0.5px #333;
    border-radius:0.4rem;
}

.msg{
    margin:auto;
    width:16.7rem;
    min-height:2.2rem;
    background:#f4f4f4;
    color:#f4f4f4;
    transform: translate(-1.1rem);
}

.error{
    max-width: 20rem;
    background:orangered;
    color:#f4f4f4;
    text-align:center;
    margin:auto;
    padding:0.5rem;
    border:none;
    border-radius:0.3rem;
}

#item{
    margin:1rem auto;
    display:grid;
    grid-template-columns:5fr 1fr 1fr;
    align-content:center;
    justify-content: center;
}

#add-input, #quant, #unit{
    background:#f4f4f4;
    width:95%;
    padding:0.5rem;
    border:none;
    border-radius:0.3rem;
    border:solid 0.5px #333;
    padding:0.3rem;
}

#quant, #unit{
    max-width:90%;
    margin-left: 0.2rem;
}

.btn{
    background:#333;
    color:white;
    border:none;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

#add-btn{
    width:100%;
    padding:0.5rem;
    border-radius:0.4rem;
}

.labels{
    margin:1rem 0;
    width:100%;
    display:flex;
}

.label-item{
    margin:0.3rem;
    text-align:center;
}

.cart-row{
    width:100%;
    display:flex;
    align-items:center;
    border-radius:0.3rem;
    list-style:none;
    margin-top:1rem;
    border:solid 0.5px #333;
}

#check-label{
    width:20%;
}

#item-label{
    width:25%;
}

#quant-label{
    width:10%;
}

#unit-label{
    width:10%;
}

#price-label{
    width:15%;
}

#delete-label{
    width:20%;
}

.check{
    width:20%;
    align-self: stretch;
    padding:0.3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border:none;
} 

.toggleCheck{
    background:#333;
    color:#ccc;
}

.list-item{ 
    width:25%;
    margin:0.3rem;
    text-align:center;
    border-right:1px solid #ccc;
}

.quant-select{
    width:10%;
    text-align:center;
    margin:0.3rem;
    border:none;
    border-right:1px solid #ccc;
}

.unit-select{
    width:10%;
    text-align:center;
    margin:0.3rem;
    border:none;
    border-right:1px solid #ccc; 
}

.price{
    width:15%;
    margin:0.3rem;
    align-self: stretch;
    text-align:center;
    border:none;
    background-color: #f4f4f4;
    border-radius:0.3rem;
}

.btn-danger{
    align-self: stretch;
    width:20%;
    padding:0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border:none;    
}

#total-div{
    display:none;
    width:100%;
    padding:1rem 6rem;
    text-align:end;
    font-size: 1.5rem;
}

.show-total{
    display:block !important;
}

#total-value{
    font-weight:bold;
    font-size: 2.3rem;
    color:rgb(33, 187, 33)
}

@media(max-width:1200px){
    .container{
        max-width: 80%;
        margin:auto;
    }
    #main-header{
        display:grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content:center;
    }
    #filter-input{
        width:50%;
        margin:2rem auto;
    }
}

@media(max-width:460px){
    .hide-on-small{
        display:none !important;
    }
    #filter-input{
        width:80%;
        margin:2rem auto;
    }
    .list-item{
        max-width:100%;
    }
    #total{
        width:100%;
        padding:0.5rem 3rem;
        text-align:end;
        font-size: 1rem;
    }
    #total-price{
        font-weight:bold;
        font-size: 1rem;
        color:rgb(33, 187, 33)
    }
}